Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL	
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	
These databases have fixed or static or predefined schema	
These databases are not suited for hierarchical data storage.	
These databases are best suited for complex queries	
Vertically Scalable	
Follows ACID property	
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	

NoSQL
Non-relational or distributed database system.
They have a dynamic schema
These databases are best suited for hierarchical data storage.
These databases are not so good for complex queries
Horizontally scalable
Follows CAP(consistency, availability, partition tolerance)
Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

DDL Commands :
In this section, We will cover the following DDL commands as follows.

Create-
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
Alter -
his command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
truncate-
This command is used to remove all rows from the table, but the structure of the table still exists
drop- 
This command is used to remove an existing table along with its structure from the Database.
Rename-
It is possible to change name of table with or without data in it using simple RENAME command.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language. This includes most of the SQL statements.

Examples of DML
The examples of DML in the Database Management System (DBMS) are as follows −
SELECT − Retrieve data from the database.
SELECT * from <table_name>;
INSERT − Insert data into a table.
Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
UPDATE − Update existing data within a table.
UPDATE <table_name> SET column_number =value_number WHERE condition;
DELETE − Delete records from a database table.
Delete from <table_name>WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL is a portion of a SQL statement that allows you to get and organise data from a database. 
You can use the SELECT command to extract data from a database in order to perform actions on it. 
The result of a SELECT statement on a table or collection of tables is compiled into a new temporary table, 
which is subsequently displayed or received by a program, i.e. a front-end.
Example
SELECT Stu_Name FROM Student WHERE Phone = 3562154054;

Q5. Explain Primary Key and Foreign Key.

Primary Key-A primary key is used to ensure data in the specific column is unique.
It uniquely identifies a record in the relational database table.
Only one primary key is allowed in a table.
It does not allow NULL values.
Its value cannot be deleted from the parent table.
Foreign Key-
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
Whereas more than one foreign key is allowed in a table.
It refers to the field in a table which is the primary key of another table.
It can contain duplicate values and a table in a relational database.
It can also contain NULL values

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


The cursor() method returns a cursor object. The cursor is used to execute SQL queries and fetch the results.

The execute() method is used to execute an SQL query. You pass the query as a string parameter.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM-Tables are joined to get the base data.
WHERE-The base data is filtered.
GROUP-The filtered base data is grouped.
HAVING-The grouped base data is filtered.
SELECT-The final data is returned.
ORDER-The final data is sorted.
LIMIT-The returned data is limited to row count.