In [1]:
#Q1. Create one variable containing following type of data:

#(i)	string

#(ii)	list

#(iii)	float

#(iv)	tuple
var1="Saiprasad Patil"

In [2]:
var1

'Saiprasad Patil'

In [4]:
var2=['sai',1,2,3,4,5,12.5,13j]

In [6]:
var2

['sai', 1, 2, 3, 4, 5, 12.5, 13j]

In [9]:
var3=78.98574621

In [10]:
var3

78.98574621

In [12]:
var4=(1,2,3,4,'sai')

In [14]:
var4

(1, 2, 3, 4, 'sai')

In [33]:
#Q2. Given are some following variables containing data:

#(i)	var1 = ‘ ‘

#(ii)	var2 = ‘[ DS , ML , Python]’

#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

#(iv)	var4 = 1.
#Answer:
i)string
ii)string
iii)list
iv)int

SyntaxError: unmatched ')' (3935055842.py, line 11)

In [35]:
#Q3. Explain the use of the following operators using an example:

#(i)	/

#(ii)	% 

#(iii)	//

#(iv)	**
12/2

6.0

In [36]:
12%2

0

In [37]:
28//12

2

In [41]:
2**5

32

In [39]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
list1=['saiprasad','patil',1,2,3,4,5,55.2,12j,96]

In [40]:
for i in list1:
    print(i)

saiprasad
patil
1
2
3
4
5
55.2
12j
96

In [25]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
A=int(input())
B=int(input())
i=0
while A%B==0:
    A=A/B
    i=i+1
if i > 0:
    print("A is divisiable by B and count is:",i)
else:
    print("A is not divisiable by B")

 100
 5

A is divisiable by B and count is: 2

In [45]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.
list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
print("In list divisiable by 3 No are:")
for i in list2:
    if i % 3 ==0:
        print(i)

In list divisiable by 3 No are:
3
6
9
12
15
18
21
24

In [29]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property
#MUTABLE 
list2=[1,2,3,4,5,'sai',12j]
list2[5]='Saiprasad'
list2

[1, 2, 3, 4, 5, 'Saiprasad', 12j]

In [31]:
#IMMUTABLE
tuple1=(1,2,3,4,5,"saiprasad",'sai',12j)
tuple1[-1]='sai'

TypeError: 'tuple' object does not support item assignment

In [46]:
tuple1

(1, 2, 3, 4, 5, 'saiprasad', 'sai', 12j)

In [ ]:
str1='saiprasad'
str[]=''